name: Build Data Ingestion Endpoing

defaults:
  run:
    working-directory: Azure/DataIngestion

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
    
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
