name: Build Data Ingestion Endpoing

defaults:
  run:
    working-directory: Azure/DataIngestion

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.dockerhub_user }}
        password: ${{ secrets.dockerhub_password }}
    - name: Build and push Docker images
      uses: docker/build-push-action@v2.2.1
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ytechie/rvfrontend:latest
